.skills-section {
  background-color: #000;
  color: #fff;
  padding: 60px 20px 0px 20px;
  
}
.skills-section h1{
  color: #ff6a00;
}
.skills-container {
  max-width: 1200px;
  margin: 0 auto;
}

.skills-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #ff6a00;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-card h3 {
  margin: 0;
  font-size: 18px;
}

.skill-card p {
  font-size: 14px;
  color: #aaa;
  margin-top: 6px;
}
.icon {
  padding: 10px;
  font-size: 2rem;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icon:hover {
  color: #ff6a00;
  transform: scale(1.1);
  cursor: pointer;
}
@media (max-width: 768px) {
  .skills-title {
    font-size: 26px;
    text-align: center;
  }

  .skill-card {
    text-align: center;
    padding: 16px;
  }
}
